<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/atom-one-light.min.css" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/github-markdown-css/2.8.0/github-markdown.min.css" />
    <link rel="stylesheet" href="http://impress.github.io/impress.js/css/impress-demo.css" />
    <title>marked in html && 图的尝试</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-array"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-geo"></script>
    <link rel="stylesheet" href="../static/styles.css" />
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            position: relative;
            min-height: 100vh;

        }

        #navbar-container {
            height: 70px;
            background-color: #f2f2f2;
            /* 导航栏样式 */
            /* ... */
        }

        #main {
            width: 800px;
            height: 600px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .markdown-container {
            position: absolute;
            top: 10px;
            /* 调整上方的距离 */
            left: 50%;
            transform: translateX(-50%);
            width: 800px;
        }
    </style>
</head>


<body>
    <template type="markdown">
        # 这是markdown
        ### 我认为
    </template>

    <div id="main" style="width: 800px; height: 400px;"></div>
    <script>
        var chartDom = document.getElementById('main');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b}: {c} ({d}%)'
            },
            legend: {
                data: [
                    'Direct',
                    'Marketing',
                    'Search Engine',
                    'Email',
                    'Union Ads',
                    'Video Ads',
                    'Baidu',
                    'Google',
                    'Bing',
                    'Others'
                ]
            },
            series: [
                {
                    name: 'Access From',
                    type: 'pie',
                    selectedMode: 'single',
                    radius: [0, '30%'],
                    label: {
                        position: 'inner',
                        fontSize: 14
                    },
                    labelLine: {
                        show: false
                    },
                    data: [
                        { value: 1548, name: 'Search Engine' },
                        { value: 775, name: 'Direct' },
                        { value: 679, name: 'Marketing', selected: true }
                    ]
                },
                {
                    name: 'Access From',
                    type: 'pie',
                    radius: ['45%', '60%'],
                    labelLine: {
                        length: 30
                    },
                    label: {
                        formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                        backgroundColor: '#F6F8FC',
                        borderColor: '#8C8D8E',
                        borderWidth: 1,
                        borderRadius: 4,
                        rich: {
                            a: {
                                color: '#6E7079',
                                lineHeight: 22,
                                align: 'center'
                            },
                            hr: {
                                borderColor: '#8C8D8E',
                                width: '100%',
                                borderWidth: 1,
                                height: 0
                            },
                            b: {
                                color: '#4C5058',
                                fontSize: 14,
                                fontWeight: 'bold',
                                lineHeight: 33
                            },
                            per: {
                                color: '#fff',
                                backgroundColor: '#4C5058',
                                padding: [3, 4],
                                borderRadius: 4
                            }
                        }
                    },
                    data: [
                        { value: 1048, name: 'Baidu' },
                        { value: 335, name: 'Direct' },
                        { value: 310, name: 'Email' },
                        { value: 251, name: 'Google' },
                        { value: 234, name: 'Union Ads' },
                        { value: 147, name: 'Bing' },
                        { value: 135, name: 'Video Ads' },
                        { value: 102, name: 'Others' }
                    ]
                }
            ]
        };

        option && myChart.setOption(option);

    </script>
    <!-- 其他 Markdown 内容 -->
    <template type="markdown">
        asd
    </template>

    <script>
        // 初始化并处理 Markdown 内容
        const templates = document.querySelectorAll('template[type="markdown"]');
        templates.forEach((template) => {
            const markdownContainer = document.createElement('div');
            markdownContainer.classList.add('markdown-container');
            markdownContainer.innerHTML = template.innerHTML;
            template.parentNode.replaceChild(markdownContainer, template);
        });
    </script>
</body>
<script src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js" charset="utf-8"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js" charset="utf-8"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.12.0/languages/javascript.min.js" charset="utf-8"></script>
<script src="http://impress.github.io/impress.js/js/impress.js" charset="utf-8"></script>
<script src="../static/js/marked-in-html.js" charset="utf-8"></script>
<script type="text/javascript">
    markedInHtml.init()
    impress().init()
</script>


</html>